body{
    background-color: #e2e2e2;
}

/*header css*/
header {
    background-color: #152a6d;
    padding: 10px;
  }
nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 25%;
  } 
nav ul li {
    display: inline;
  }
nav ul li a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
nav ul li a:hover {
    background-color: #ffffff;
    color: #152a6d;
  }
nav ul li img{
    width: 15%;
  }

/*main css*/ 
main nav ul li h1{
  font-size: 400%;
  color: #152a6d;
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 8%;
}
main nav ul li p{
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-left: 7%;
}
main nav ul li h2{
  margin-top: 8%;
  margin-left: 7% ;
}
main nav ul li img{
  margin-left: 28%;
  width: 20%;
  position: absolute;
  margin-top: 4.5%;
}

main nav ul li .throwFarther{
  width: 100%;

}
/*main start training*/
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #0043a8;
  color: rgb(255, 255, 255);
  font-size: 27px;
  padding: 16px 61px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 75%;
  margin-left: 0.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container .btn:hover {
  background-color: rgb(0, 255, 200);
  color: rgb(0, 0, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
}


/*section*/
section img{
  margin-left: 23%;
}
.throwFarther{
  margin-top: 2%;
  margin-left: 8%;
}
.button {
  background-color: #152a6d;
  border: none;
  color: white;
  padding: 30px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
  
}

.button1 {
  background-color: #152a6d; 
  color: rgb(255, 255, 255); 
 
}

.button1:hover {
  background-color: #00a2ff;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}




/*footer*/
footer {
  background-color: #152a6d;
  color: #fff;
  padding: 20px;
  margin-top: 10%;
}


.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-menu li :hover {
  color: rgb(57, 57, 57);
  
}

.footer-menu li {
  margin: 10px 30%;
  font-size: 130%;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.copyright {
  text-align: center;
  margin-top: 10px;
}
footer img{
  position: relative;
  width: 60%;
  margin-left: 18%;
  margin-bottom: 10%;
}

  