body{
   background-color: rgb(255, 255, 255);
}

/*header css*/
header {
    background-color: #152a6d;
    padding: 10px;
  }
nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 25%;
  } 
nav ul li {
    display: inline;
  }
nav ul li a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
nav ul li a:hover {
    background-color: #ffffff;
    color: #152a6d;
  }
nav ul li img{
    width: 15%;
  }


/*main css*/
main video{
  margin-top: 10%;
  margin-left: 10%;
}
main h1{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 350%;
  margin-left: 40%;
}
/*button sa online training*/
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #0043a8;
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding: 25px 50px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  margin-top: 60%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container .btn:hover {
  background-color: rgb(0, 255, 200);
  color: rgb(0, 0, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


/*footer*/
footer {
  background-color: #152a6d;
  color: #fff;
  padding: 20px;
  margin-top: 10%;
}


.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-menu li :hover {
  color: rgb(57, 57, 57);
  
}

.footer-menu li {
  margin: 10px 30%;
  font-size: 130%;
}

.footer-menu a {
  color: #fff;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.copyright {
  text-align: center;
  margin-top: 10px;
}
footer img{
  position: relative;
  width: 60%;
  margin-left: 18%;
  margin-bottom: 10%;
}