body{
    background-image: url(webpagebackg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    
}

header,footer{
    position: static;
    background-color: rgb(57, 57, 58);
    width: 100%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body main{
    position: static;
    background-color: aliceblue;
    width: 100%;
}
footer p{ 
    
    margin-left: 1%;
    margin-top: 8%;
    
}
header h2{
    position: absolute;
    margin-left: 10%;
}
header{
    height: 8vh;   
}
footer p{
    position: absolute;
    margin-top: 6.5%;
    margin-left: 1%;
}
footer{
    height: 15vh;
    margin-top: 90%;
}
.nav {
    position: absolute;
    margin-left: 20%;
    margin-top: 2%;
}
.nav a{
    color: aliceblue;
    text-decoration: none;
}